@import "tailwindcss";

@font-face {
  font-family: 'Varela Round';
  src: url('./assets/Varela_Round/VarelaRound-Regular.ttf');
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  min-height: 100vh;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


